<!DOCTYPE html>
<html>
  <head>
    <title>bus safety system</title>
  </head>
  <body>
    <h1>bus safety system</h1>
    <h2>학원 prototype</h2>
    <input type="text" placeholder="차량 아이디" />
    <br /><br />
    <textarea rows="10" cols="100" placeholder="점검 요청 내용"></textarea>
    <br />
    <button>정기점검 신청</button>
    <br /><br />
    <button>고장 수리 신청</button>
    <br /><br />
    <textarea
      rows="10"
      cols="100"
      placeholder="정비소에서 보내온 견적입니다."
    ></textarea>
    <br />
    <button>접수 승인</button>
  </body>
</html>
