<!DOCTYPE html>
<html>
  <head>
    <title>bus safety system</title>
  </head>
  <body>
    <h1>bus safety system</h1>
    <h2>정비업체 prototype</h2>
    <input type="text" placeholder="차량 아이디" />
    <br /><br />
    <textarea rows="10" cols="100" placeholder="점검 요청 내용"></textarea>
    <br />
    <button>조회</button>
    <br /><br />
    <textarea
      rows="10"
      cols="100"
      placeholder="견적을 작성해 주세요."
    ></textarea>
    <br />
    <button>수리 접수</button>
    <br /><br />
    <textarea
      rows="10"
      cols="100"
      placeholder="참고 사항을 입력해 주세요."
    ></textarea>
    <br />
    <button>수리 완료</button>
  </body>
</html>
