<!DOCTYPE html>
<html>
  <head>
    <title>bus safety system</title>
  </head>
  <body>
    <h1>bus safety system</h1>
    <h2>학부모 prototype</h2>
    <input type="text" placeholder="차량 아이디" />
    <br /><br />
    <button>조회</button>
    <br /><br />
    <textarea rows="10" cols="100" placeholder="차량 관련 내용"></textarea>
    <br /><br />
    차량 신고
    <br /><br />
    <textarea
      rows="10"
      cols="100"
      placeholder="차량의 이상 내역을 작성해주세요."
    ></textarea>
    <br />
    <button>차량 관련 민원</button>
  </body>
</html>
